<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/html">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.min.css">
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">-->
</head>
<body class="m-text-style">
<!--
<script src="../../static/js/jquery-3.2.1.js"></script>
<script src="../../static/js/semantic.min.js"></script>
-->
    <!--导航-->
    <nav th:replace="_temp :: menu(1)" class="ui segment m-padded-tb-mini m-margin-none" style="margin: 0
    !important;">
        <div class="ui container">
            <div class="ui stackable secondary menu">
                <h2 class="ui blue header item">博客管理</h2>
                <a href="#" class="active m-item item m-mobile-hide"><i class="small home icon m-opacity-mini"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon m-opacity-mini"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon m-opacity-mini"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                            Rider
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle basic icon button m-location-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
                <a href="#" th:href="@{/admin/blogs}" class="blue active item">列表</a>
            </div>
        </div>
    </div>



    <!--中间内容-->
    <div class="m-container-width-small m-padded-tb-large">
        <div class="ui container">

            <div class="ui form">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field" style="width: 40%">
                        <div class="fluid">
                            <input type="text" placeholder="标题" name="title">
                        </div>
                    </div>
                    <div class="field" style="width: 35%">
                        <div class="ui labeled fluid action input">
                            <div class="ui type fluid selection dropdown">
                                <input type="hidden" name="typeId">
                                <i class="dropdown icon"></i>
                                <div class="default text">选择分类</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">
                                        错误日志</div>
                                    <!--/*-->
                                    <div class="item" data-value="2">开发者手册</div>
                                    <!--*/-->
                                </div>
                            </div>
                            <button class="ui compact button" id="clear">clear</button>
                        </div>
                    </div>
                    <div class="field" style="width: 10%">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field" style="width: 15%">
                        <button  type="button" id="search-btn" class="ui mini blue basic button"><i
                                class="search icon"></i>Search</button>
                    </div>
                </div>
            </div>
            <div id="table-container">
                <table th:fragment="blogList" class="ui celled table">
                    <thead class="m-text-thin">
                    <tr>
                        <th class="center aligned"></th>
                        <th class="center aligned">标题</th>
                        <th class="center aligned">类型</th>
                        <th class="center aligned">推荐</th>
                        <th class="center aligned">状态</th>
                        <th class="center aligned">更新时间</th>
                        <th class="center aligned">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog,iterSTat : ${page.content}">
                        <td th:text="${iterSTat.count}" class="center aligned">1</td>
                        <td th:text="${blog.title}" class="center aligned">浅谈Java集合</td>
                        <td th:text="${blog.type.name}" class="center aligned">JavaSE</td>
                        <td th:text="${blog.recommend} ? '是' : '否' " class="center aligned">是</td>
                        <td th:text="${blog.published} ? '发布' : '草稿' " class="center aligned">草稿</td>
                        <td th:text="${blog.updatedDate}" class="center aligned">2021-7-26</td>
                        <td class="center aligned">
                            <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}"
                               class="ui mini blue button m-text-thin">编辑</a>
                            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}"
                               class="ui mini orange button m-text-thin">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="6">
                            <div th:if="${page.totalPages}>1" >
                                <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="ui mini button"
                                   th:unless="${page.first}">上一页</a>
                                <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="ui mini button"
                                   th:unless="${page.last}">下一页</a>
                            </div>
                        </th>
                        <th class="center aligned">
                            <a href="#" th:href="@{/admin/blogs/input}" class="ui m-text-thin mini blue button">新增</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">提示:</div>
                    <p th:text="${message}">操作成功</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui section divider"></div>
    <!--底部-->
    <footer th:replace="_fragments :: footer"class="ui vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui divided stackable grid">
                <div class="three wide column center aligned">
                    <div class="ui link list">
                        <div class="item">
                            <img src="../../static/images/doge2.jpg" th:src="@{/images/doge2.jpg}" class="ui rounded image" style="width:
                            110px;">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header m-text-spaced m-text-lined">创意Blog</h4>
                    <div class="ui link list">
                        <a href="#" class="item">orange</a>
                        <a href="#" class="item">orange</a>
                        <a href="#" class="item">orange</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header m-text-spaced m-text-lined">联系我</h4>
                    <div class="ui link list">
                        <a href="#" class="item">QQ:1518607977</a>
                        <a href="#" class="item">WeChat:17365560507</a>
                        <a href="#" class="item">Email:1518607977@qq.com</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui header m-text-spaced m-text-lined">I WANNA SAY</h4>
                    <p class="m-text-spaced m-text-lined m-text-thin">开拓视野，冲破艰险，看见世界，身临其境，贴近彼此，感受生活，这就是生活的目的！</p>
                </div>
            </div>
            <div class="ui section divider"></div>
            <p class="m-text-spaced m-text-lined m-text-thin m-opacity-tiny">CopyRight © 2021 启航Blog Designed by
                QiHangDuan_SUSE en
                Rider</p>
        </div>
    </footer>
<th:block th:replace="_fragments :: script">
    <script src="../../static/js/jquery-3.2.1.js"></script>
    <script src="../../static/js/semantic.min.js"></script>
    <!--滚动检测引入-->
    <script src="../../static/lib/waypoints/jquery.waypoints.min.js"></script>
    <!--平滑滚动cdn-->
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.3/jquery.scrollTo.min.js"></script>
    <!--二维码生成插件-->
    <script src="../../static/lib/qrcode/qrcode.min.js"></script>
    <!--tocbot目录生成插件js-->
    <script src="../../static/lib/tocbot/tocbot.min.js"></script>
    <!--prism代码高亮的js-->
    <script src="../../static/lib/prism/prism.js"></script>
</th:block>
<!--<script src="static/js/jquery-3.2.1.js"></script>
<script src="static/js/semantic.min.js"></script>-->
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            transition: 'drop'
        });
        /*提示消息关闭*/
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
        });
        /*清除分类*/
        $('#clear')
            .on('click', function() {
                $('.ui.type.dropdown')
                    .dropdown('clear')
                ;
            });

        /*上下翻页*/
        function page(obj) {
            $("[name='page']").val($(obj).data("page"));
            loaddata();
        }
        /*search点击事件*/
        $("#search-btn").click(function () {
            $("[name='page']").val(0);
            loaddata();
        });
        /*form表单发送请求*/
        function loaddata() {
            $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
                title : $("[name='title']").val(),
                typeId : $("[name='typeId']").val(),
                recommend : $("[name='recommend']").prop('checked'),
                page : $("[name='page']").val()
            });
        }
    </script>
<!--<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>-->
</body>
</html>