
body {
    background: url("../images/dust_scratches.png") !important;
}

/*------container-----*/
.m-container-width-big{
    max-width: 76em !important;
    margin: auto !important;
}
.m-container-width{
    max-width: 72em !important;
    margin: auto !important;
}
.m-container-width-small{
    max-width: 70em !important;
    margin: auto !important;
}
/*----location-----*/
.m-location-top-right{
    position: absolute;
    top: 0;
    right: 0;
}
/*------padding-----*/
.m-padded-mini{
    padding: 0.2em !important;
}
.m-padded-tag{
    padding: 0.5em !important;
}
.m-padded-fixed{
    padding: 1em !important;
    padding-bottom: 2em !important;
}
.m-padded-normal{
    padding: 1em !important;
}
.m-padded-big{
    padding: 2em !important;
}
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb-normal{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-big2{
    padding-top: 2.5em !important;
    padding-bottom: 2.5em !important;
}
.m-padded-tb-big-fix{
    padding-top: 2.5em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-padded-lr{
    padding-right: 4em !important;
    padding-left: 4em !important;
}
/*-------margin-------*/
.m-margin-l{
    margin-left: 2em !important;
}
.m-margin-r{
    margin-right:2em !important;
}
.m-margin-none{
    margin-top: 0 !important;
}
.m-margin-top-large{
    margin-top: 3em !important;
}
.m-margin-tb-tiny{
    margin-bottom: 0.3em !important;
    margin-top: 0.3em !important;
}
.m-margin-tb-small{
    margin-bottom: 0.5em !important;
    margin-top: 0.5em !important;
}
.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}
/*-------Text-------*/
.m-color-tiffany{
    color: #81D8D0 !important;
}
.m-color-bondiblue{
    color: #0095B6 !important;
}

.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{
    letter-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8 !important;
}
.m-text-style{
    font-family: Consolas, "Liberation Mono", Menlo, Monaco, "Source Han Sans CN", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
/*-----opacity-----*/
.m-opacity-mini{
    opacity: 0.8 !important;
}
.m-opacity-tiny{
    opacity: 0.6 !important;
}
/*------display-------*/
.m-inline-block{
    display: inline-block;
}

/*------special-----*/
.m-mobile-show{
    display: none !important;
}
/*-----position------*/
.m-fixed{
    position: fixed !important;
    z-index: 1 !important;
}
.m-right-bottom{
    bottom: 0 !important;
    right: 0 !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
    .m-mobile-lr-clear{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-padded-lr{
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
}
