<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css">
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">-->
    <style>
        /*阿里巴巴矢量图标库*/
        @font-face {
            font-family: 'iconfont';  /* Project id 1764882 */
            src: url('//at.alicdn.com/t/font_1764882_wasfvbi395.woff2?t=1626964113843') format('woff2'),
            url('//at.alicdn.com/t/font_1764882_wasfvbi395.woff?t=1626964113843') format('woff'),
            url('//at.alicdn.com/t/font_1764882_wasfvbi395.ttf?t=1626964113843') format('truetype');
        }

        /*图标样式（这个是字体图标的样式，直接复制粘贴即可或在下载到的本地中也可查看，可对图标样式进行修改达到我们想要的结果）*/
        .iconfont {
            font-family:"iconfont" !important;
            font-size:16px;
            font-style:normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>
<body class="m-text-style">
<script src="../static/js/jquery-3.2.1.js"></script>
<script src="../static/js/semantic.min.js"></script>
    <!--导航-->
    <nav class="ui segment m-padded-tb-mini m-margin-none">
        <div class="ui container">
            <div class="ui stackable secondary menu">
                <img class="ui image item m-padded-tb-mini" src="../static/images/logo3.png" width="190" height="65">
                <a href="#" class="m-item item m-mobile-hide"><i class="small home icon m-opacity-mini"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon m-opacity-mini"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon m-opacity-mini"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small clone icon m-opacity-mini"></i>归档</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="small info icon m-opacity-mini"></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle basic icon button m-location-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间内容-->
    <div class="m-container-width-big m-padded-tb-large">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="../static/images/doge2.jpg" alt="" class="ui rounded image" width="800px" height="600px">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment m-text-thin m-text-lined m-text-spaced">
                        <p>开拓视野，冲破艰险，看见世界，身临其境，贴近彼此，感受生活，这就是生活的目的！</p>
                        <br>
                        <p>开拓视野，冲破艰险，看见世界，身临其境，贴近彼此，感受生活，这就是生活的目的！</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic label">
                            编程
                        </div>
                        <div class="ui orange basic label">
                            足球
                        </div>
                        <div class="ui orange basic label">
                            骑行
                        </div>
                        <div class="ui orange basic label">
                            写文档
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui blue label m-margin-tb-tiny">JAVA</div>
                        <div class="ui blue label m-margin-tb-tiny">后端</div>
                        <div class="ui blue label m-margin-tb-tiny">SQL</div>
                        <div class="ui blue label m-margin-tb-tiny">GoLang</div>
                        <div class="ui blue label m-margin-tb-tiny">JAVA</div>
                        <div class="ui blue label m-margin-tb-tiny">后端</div>
                        <div class="ui blue label m-margin-tb-tiny">SQL</div>
                        <div class="ui blue label m-margin-tb-tiny">GoLang</div>

                    </div>
                    <div class="ui bottom attached segment">
                        <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui circular icon button"><i class="iconfont">&#xe611;</i></a>
                        <a href="#" class="ui circular icon button"><i class="iconfont">&#xe9ac;</i></a>
                        <a class="ui wechat circular icon button"
                           data-content="17365560507" data-position="bottom center"><i class="wechat icon"></i></a>
                        <a class="ui qq circular icon button" data-content="1518607977"
                           data-position="bottom center"><i class="qq icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui section divider"></div>
    <!--底部-->
    <footer class="ui vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui divided stackable grid">
                <div class="three wide column center aligned">
                    <div class="ui link list">
                        <div class="item">
                            <img src="../static/images/doge2.jpg" class="ui rounded image" style="width: 110px;">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header m-text-spaced m-text-lined">创意Blog</h4>
                    <div class="ui link list">
                        <a href="#" class="item">orange</a>
                        <a href="#" class="item">orange</a>
                        <a href="#" class="item">orange</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header m-text-spaced m-text-lined">联系我</h4>
                    <div class="ui link list">
                        <a href="#" class="item">QQ:1518607977</a>
                        <a href="#" class="item">WeChat:17365560507</a>
                        <a href="#" class="item">Email:1518607977@qq.com</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui header m-text-spaced m-text-lined">I WANNA SAY</h4>
                    <p class="m-text-spaced m-text-lined m-text-thin">开拓视野，冲破艰险，看见世界，身临其境，贴近彼此，感受生活，这就是生活的目的！</p>
                </div>
            </div>
            <div class="ui section divider"></div>
            <p class="m-text-spaced m-text-lined m-text-thin m-opacity-tiny">CopyRight © 2021 启航Blog Designed by
                QiHangDuan_SUSE en
                Rider</p>
        </div>
    </footer>

<!--<script src="static/js/jquery-3.2.1.js"></script>
<script src="static/js/semantic.min.js"></script>-->
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.qq').popup({
            on: 'click'
        });
        $('.wechat').popup({
            on: 'click'
        });

    </script>
<!--<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>-->
</body>
</html>