<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/html">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css">
    <!--上引入tocbot目录生成插件（注：所有标题标签必须要有id才能识别）-->
    <link rel="stylesheet" href="../static/lib/prism/prism.css">
    <!--上引入prism的css-->
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <!--上引入animate动画css-->
    <link rel="stylesheet" href="../static/css/typo.css">
    <!--上引入typo排版css-->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css">
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">-->
</head>
<body class="m-text-style">
<!--<script src="../static/js/jquery-3.2.1.js"></script>
<script src="../static/js/semantic.min.js"></script>-->
    <!--导航-->
    <nav th:replace="_fragments :: menu(1)" class="ui segment m-padded-tb-mini m-margin-none">
        <div class="ui container">
            <div class="ui stackable secondary menu">
                <img class="ui image item m-padded-tb-mini" src="../static/images/logo2.png" width="190" height="65">
                <a href="#" class="m-item item m-mobile-hide"><i class="small home icon m-opacity-mini"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon m-opacity-mini"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon m-opacity-mini"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small clone icon m-opacity-mini"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small info icon m-opacity-mini"></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle basic icon button m-location-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间内容-->
    <div id="waypoint" class="m-container-width-small m-padded-tb-large animated fadeInLeft">
        <div class="ui container">
            <div id="top" class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="../static/images/doge2.jpg"
                             th:src="@{${blog.user.avator}}"
                             class="ui avatar image">
                        <div class="content"><a href="#" th:text="${blog.user.nickname}" class="header m-text-thin">段启航</a></div>
                    </div>
                    <div class="item">
                        <i class="clock outline icon"></i><span
                            th:text="${#dates.format(blog.updatedDate,'yyyy-MM-dd')}">2021-7
                                                        -15</span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i><span th:text="${blog.views}">2</span>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <!--image-->
                <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}" alt="" class="ui fluid rounded image">
            </div>
            <div class="ui attached segment">
                <div class="ui basic right aligned segment">
                    <div class="ui blue basic label" th:text="${blog.flag}">原创</div>
                </div>
                <h2 class="ui center aligned header" th:text="${blog.title}">文章标题</h2>

                <!--文章内容-->
                <div id="content" class="typo typo-selection js-toc-content m-padded-lr m-padded-tb-large"
                     th:utext="${blog.content}">

                </div>
                <!--标签-->
                <div class="ui blue label m-margin-top-large" th:each="tag : ${blog.tags}" th:text="${tag.name}">图论
                </div>
                <!--打赏-->
                <div class="ui basic center aligned segment">
                    <button class="ui payButton blue basic circular button"><i class="thumbs up outline icon"></i>赞赏</button>
                </div>
                <div class="ui payShang flowing popup transition hidden">
                    <div class="ui blue center aligned basic label">
                        <div class="ui images" style="font-size: 12px">
                            <div class="ui image">
                                <img src="../static/images/微信.jpg" th:src="@{/images/微信.jpg}" alt="" class="rounded bordered image"
                                     style="width: 160px">
                                <div>微信</div>
                            </div>
                            <div class="ui image">
                                <img src="../static/images/微信.jpg" th:src="@{/images/微信.jpg}" alt="" class="rounded bordered image"
                                     style="width:160px">
                                <div>支付宝</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached teal message">
                <!--message-->
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ui class="list">
                            <li>作者：
                                <span th:text="${blog.user.nickname}">段启航</span><a href="#" target="_blank"
                                                                                   th:href="@{/about}">  (联系作者)</a></li>
                            <li>发布时间：
                                <span th:text="${#dates.format(blog.updatedDate,'yyyy-MM-dd HH:mm')}">2021-7
                                    -19</span></li>
                            <li>参考文章：<a>link</a></li>
                            <li>参考文章：<a>link</a></li>
                            <li>参考文章：<a>link</a></li>
                        </ui>
                    </div>
                    <div class="five wide column">
                        <img src="../static/images/doge2.jpg" th:src="@{/images/doge2.jpg}" alt=""
                             class="ui right floated rounded bordered image"
                             style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <!--comments-->
                <div id="comment-container"  class="ui blue segment">
                    <div th:fragment="commentList">
                        <div class="ui threaded comments" style="max-width: 100%;">
                            <h3 class="ui dividing header">Comments</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar">
                                    <img src="../static/images/doge2.jpg" th:src="@{${comment.avator}}">
                                </a>
                                <div class="content">
                                    <a class="author" th:text="${comment.nickname}">Matt</a>
                                    <div class="metadata">
                                        <span class="date"
                                              th:text="${#dates.format(comment.createdDate,'yyyy-MM-dd hh:mm')}">Today
                                            at
                                            5:42PM</span>
                                    </div>
                                    <div class="text" th:text="${comment.content}">
                                        How artistic!
                                    </div>
                                    <div class="actions">
                                        <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                           th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}"
                                           onclick="reply(this)">
                                            Reply</a>
                                    </div>
                                </div>
                                <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                    <div class="comment" th:each="reply : ${comment.replyComments}">
                                        <a class="avatar">
                                            <img src="../static/images/doge2.jpg" th:src="@{${reply.avator}}">
                                        </a>
                                        <div class="content">
                                            <a class="author">
                                                <span  th:text="${reply.nickname}">Matt</span>
                                                <span th:text="|@ ${reply.parentComment.nickname}|"
                                                      class="m-color-bondiblue"></span>
                                            </a>
                                            <div class="metadata">
                                        <span class="date"
                                              th:text="${#dates.format(reply.createdDate,'yyyy-MM-dd hh:mm')}">Today
                                            at
                                            5:42PM</span>
                                            </div>
                                            <div class="text" th:text="${reply.content}">
                                                How artistic!
                                            </div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                                   th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}"
                                                   onclick="reply(this)">
                                                    Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/*-->
                            <div class="comment">
                                <a class="avatar">
                                    <img src="../static/images/doge2.jpg" th:src="@{/images/doge2.jpg}">
                                </a>
                                <div class="content">
                                    <a class="author">Elliot Fu</a>
                                    <div class="metadata">
                                        <span class="date">Yesterday at 12:30AM</span>
                                    </div>
                                    <div class="text">
                                        <p>This has been very useful for my research. Thanks as well!</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="../static/images/doge2.jpg" th:src="@{/images/doge2.jpg}">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                Elliot you are always so right :)
                                            </div>
                                            <div class="actions">
                                                <a class="reply">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                    <img src="../static/images/doge2.jpg" th:src="@{/images/doge2.jpg}">
                                </a>
                                <div class="content">
                                    <a class="author">Joe Henderson</a>
                                    <div class="metadata">
                                        <span class="date">5 days ago</span>
                                    </div>
                                    <div class="text">
                                        Dude, this is awesome. Thanks so much
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <!--*/-->
                        </div>
                    </div>
                </div>
                <div id="comment-form" class="ui form">
                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                    <input type="hidden" name="parentComment.id" value="-1">
                    <div class="field">
                        <textarea name="content" placeholder="请输入评论信息 . . . " cols="30" rows="10"></textarea>
                        <div class="fields">
                            <div class="field m-mobile-wide m-margin-tb-small" style="width: 35% !important;">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="nickname" placeholder="姓名">
                                </div>
                            </div>
                            <div class="field m-mobile-wide m-margin-tb-small" style="width: 35% !important;">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" name="email" placeholder="邮箱">
                                </div>
                            </div>
                            <div class="field m-mobile-wide m-margin-tb-small" style="width: 30% !important;">
                                <button id="commentpost-btn" type="button" class="ui blue button m-mobile-wide"
                                        style="width: 100%
                                !important;"><i class="edit icon"></i>发布
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="ui error message"></div>

                </div>
            </div>
        </div>
    </div>
    <!--绝对布局小块儿-->
    <div id="right-bottom-toolbar" class="m-fixed m-right-bottom m-padded-fixed" style="display: none">
        <div class="ui vertical icon buttons">
            <button type="button" class="ui toc-button blue button">目录</button>
            <a href="#comment" class="ui blue button">留言</a>
            <button class="ui wechat icon button"><i class="weixin icon"></i></button>
            <div id="toTop-button" class="ui icon button"><i class="hand point up outline icon"></i></div>
        </div>
    </div>
    <div id="qrcode" class="ui wechat-imge flowing popup transition hidden m-padded-normal" style="width: 130px
    !important;">
        <!--<img src="static/images/微信.jpg" class="ui rounded image">-->
    </div>
    <div class="ui toc-container flowing popup transition hidden" style="width: 250px">
        <ol class="js-toc" style="padding-left: 0 !important;">
        </ol>
    </div>

    <br>
    <br>
    <br>
    <div class="ui section divider"></div>
    <!--底部-->
    <footer th:replace="_fragments :: footer" class="ui vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui divided stackable grid">
                <div class="three wide column center aligned">
                    <div class="ui link list">
                        <div class="item">
                            <img src="../static/images/doge2.jpg" th:src="@{/images/doge2.jpg}" class="ui rounded image" style="width:
                            110px;">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header m-text-spaced m-text-lined">创意Blog</h4>
                    <div class="ui link list">
                        <a href="#" class="item">orange</a>
                        <a href="#" class="item">orange</a>
                        <a href="#" class="item">orange</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header m-text-spaced m-text-lined">联系我</h4>
                    <div class="ui link list">
                        <a href="#" class="item">QQ:1518607977</a>
                        <a href="#" class="item">WeChat:17365560507</a>
                        <a href="#" class="item">Email:1518607977@qq.com</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui header m-text-spaced m-text-lined">I WANNA SAY</h4>
                    <p class="m-text-spaced m-text-lined m-text-thin">开拓视野，冲破艰险，看见世界，身临其境，贴近彼此，感受生活，这就是生活的目的！</p>
                </div>
            </div>
            <div class="ui section divider"></div>
            <p class="m-text-spaced m-text-lined m-text-thin m-opacity-tiny">CopyRight © 2021 启航Blog Designed by
                QiHangDuan_SUSE en
                Rider</p>
        </div>
    </footer>

    <th:block th:replace="_fragments :: script">
        <script src="../static/js/jquery-3.2.1.js"></script>
        <script src="../static/js/semantic.min.js"></script>
        <!--滚动检测引入-->
        <script src="../static/lib/waypoints/jquery.waypoints.min.js"></script>
        <!--平滑滚动cdn-->
        <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.3/jquery.scrollTo.min.js"></script>
        <!--二维码生成插件-->
        <script src="../static/lib/qrcode/qrcode.min.js"></script>
        <!--tocbot目录生成插件js-->
        <script src="../static/lib/tocbot/tocbot.min.js"></script>
        <!--prism代码高亮的js-->
        <script src="../static/lib/prism/prism.js"></script>
    </th:block>
    <!--&lt;!&ndash;Markdown To HTML Js File &ndash;&gt;
<script src="lib/marked.min.js" th:src="@{/lib/editormd/lib/marked.min.js}"></script>
<script src="lib/prettify.min.js" th:src="@{/lib/editormd/lib/prettify.min.js}"></script>
<script src="lib/raphael.min.js" th:src="@{/lib/editormd/lib/raphael.min.js}"></script>
<script src="lib/underscore.min.js" th:src="@{/lib/editormd/lib/underscore.min.js}"></script>
<script src="lib/sequence-diagram.min.js" th:src="@{/lib/editormd/lib/sequence-diagram.min.js}"></script>
<script src="lib/flowchart.min.js" th:src="@{/lib/editormd/lib/flowchart.min.js}"></script>
<script src="lib/jquery.flowchart.min.js" th:src="@{/lib/editormd/lib/jquery.flowchart.min.js}"></script>
<script src="lib/editormd.js" th:src="@{/lib/editormd/editormd.js}"></script>

    &lt;!&ndash;markdown to html&ndash;&gt;
    <script>
        editormd.markdownToHTML("content", {
            htmlDecode      : "style,script,iframe",
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true  // 默认不解析
        });
    </script>-->

    <script th:inline="javascript">
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        /*赞赏*/
        $('.payButton').popup({
            popup : $('.payShang.popup'),
            on : 'click',
            position : 'bottom center'
        });
        /*目录生成初始化*/
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.js-toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.js-toc-content',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
            // For headings inside relative or absolute positioned containers within content.
            hasInnerContainers: true,
        });
        /*目录按钮*/
        $('.toc-button').popup({
            popup : $('.toc-container.popup'),
            on : 'click',
            position : 'top center'
        })
        /*wechat按钮*/
        $('.wechat').popup({
            popup : $('.wechat-imge'),
            on : 'click',
            position : 'left center'
        });
        /*二维码生成*/
        var server = "http://www.qihang.me";
        var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: server+url,
            width: 128,
            height: 128,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
        /*平滑滚动*/
        $('#toTop-button').click(function () {
            $(window).scrollTo(0,500);
        });
        /*滚动检测js*/
        var waypoint = new Waypoint({
            element: document.getElementById('waypoint'),
            handler: function(direction) {
                if(direction === 'down'){
                    $('#right-bottom-toolbar').show(500);/*jquery方法*/
                }else{
                    $('#right-bottom-toolbar').hide(500);
                }
            }
        })
        /*表单非空验证*/
        $('.ui.form').form({
            fields : {
                comment : {
                    identifier: 'content',
                    rules: [{
                        type : 'empty',
                        prompt : '请输入评论信息！'
                    }]
                },
                nickname : {
                    identifier  : 'nickname',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : '请输入ID(让我知道你是谁)！'
                        }
                    ],
                },
                email : {
                    identifier  : 'email',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : '请输入邮箱(让我联系的到你)！'
                        }
                    ],
                }
            }
        });
        /*打开页面加载评论*/
        $(function () {
            $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/);
        });
        /*提交方法*/
        $('#commentpost-btn').click(function (){
            var boo = $('.ui.form').form('validate form');//显示校验表单
            if (boo){
                postData();
            }else{

            }
        });
        /*发送请求方法*/
        function postData() {
            $("#comment-container").load(/*[[@{/comments}]]*/"",{
                "parentComment.id" : $("[name='parentComment.id']").val(),
                "blog.id" : $("[name='blog.id']").val(),
                "nickname": $("[name='nickname']").val(),
                "email"   : $("[name='email']").val(),
                "content" : $("[name='content']").val()
            },function (responseTxt, statusTxt, xhr) {
                $(window).scrollTo($('#comment-container'),500);
                clearContent();
            });
        }

        function clearContent() {
            $("[name='content']").val('');
            $("[name='parentComment.id']").val(-1);
            $("[name='content']").attr("placeholder", "请输入评论信息...");
        }

        function reply(obj) {
            var commentId = $(obj).data('commentid');
            var commentNickname = $(obj).data('commentnickname');

            $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
            $("[name='parentComment.id']").val(commentId);
            $(window).scrollTo($('#comment-form'),500);
        }
    </script>
<!--<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>-->
</body>
</html>